<title>Plature</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<script src="/asset/jquery-3.1.1.js"></script>
<link rel="stylesheet" type="text/css" href="/asset/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/asset/bootstrap.min.css">
<script src="/javascripts/common.js"></script>
<script src="/asset/bootstrap.min.js"></script>